<main class="container my-5">
  <h1 class="text-center mb-4">Iniciar Sesión</h1>

  Formulario Reactivo -->
<form [formGroup]="formLogin" (ngSubmit)="login()">

  <!-- Email -->
  <div class="container mt-5" style="max-width: 400px;">

    <h2>Board Games Fellowship</h2>

    <div>
      <h1 class="card-title text-center text-primary mb-4">Iniciar Sesión</h1>
    </div>
    <label for="email" class="form-label">Correo electrónico</label>
    <input type="email" id="email" class="form-control" formControlName="email"
      [class.is-invalid]="formLogin.get('email')?.touched && formLogin.get('email')?.invalid" />

    <div class="invalid-feedback" *ngIf="formLogin.get('email')?.errors?.['required']">
      El correo es obligatorio.
    </div>

    <div class="invalid-feedback" *ngIf="formLogin.get('email')?.errors?.['email']">
      El formato del correo no es válido.
    </div>


    <!-- Contraseña -->
    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" id="password" class="form-control" formControlName="password"
        [class.is-invalid]="formLogin.get('password')?.touched && formLogin.get('password')?.invalid" />

      <div class="invalid-feedback" *ngIf="formLogin.get('password')?.errors?.['required']">
        La contraseña es obligatoria.
      </div>
    </div>

    <!-- Botones -->
    <div class="d-flex justify-content-between">
      <button type="submit" class="btn btn-primary" [disabled]="formLogin.invalid">
        Ingresar
      </button>

      <button type="button" class="btn btn-secondary" (click)="limpiar()">
        Limpiar
      </button>

      <a routerLink="/registro" class="btn btn-outline-secondary">
        Registrarse
      </a>
    </div>

    <!-- Recuperar contraseña -->
    <div class="text-center mt-3">
      <a routerLink="/recuperar">¿Olvidaste tu contraseña?</a>
    </div>

    <!-- Error de login -->
    <div *ngIf="error" class="alert alert-danger mt-3 text-center">
      Usuario o contraseña incorrectos.
    </div>
  </div>


</form>
</main>