<main class="container my-5">
  <!-- SECCIÓN DE BIENVENIDA -->
  <section class="text-center">
    <h1 class="mb-3">Bienvenido a </h1>
    <h2 class="mb-3"><span class="text-primary">Board Games Fellowship</span></h2>
    <p class="lead text-muted">Explorar Categorías</p>
  </section>

  <!-- SECCIÓN DE CATEGORÍAS -->
  <section class="row text-center mt-5">
    <div class="col-md-4 mb-4">
      <a routerLink="/categoria-deportes" class="text-decoration-none text-dark">
        <img src="assets/img/EuroGames.jpg" class="img-fluid img-categoria rounded shadow-sm" alt="Juegos Deportivos">
        <h3 class="mt-2">Estrategia y Eurogames</h3>
      </a>
    </div>

    <div class="col-md-4 mb-4">
      <a routerLink="/categoria-aventura" class="text-decoration-none text-dark">
        <img src="assets/img/TematicoGames.jpg" class="img-fluid img-categoria rounded shadow-sm" alt="Juegos de Aventura">
        <h3 class="mt-2">Juegos Temáticos y Ameritrash</h3>
      </a>
    </div>

    <div class="col-md-4 mb-4">
      <a routerLink="/categoria-disparos" class="text-decoration-none text-dark">
        <img src="assets/img/PartyGame.jpg" class="img-fluid img-categoria rounded shadow-sm" alt="Juegos de Disparos">
        <h3 class="mt-2">Party Games (Juegos de Fiesta)</h3>
      </a>
    </div>
  </section>
</main>
<main class="container text-center my-5"> 
        <article>
            <h2>Bienvenido al Mundo de los Juegos de Mesa!</h2>
            <p>Aquí encontrarás las mejores opciones para tu próxima partida.</p>
        </article>
</main>

<footer class="bg-dark text-white text-center py-3 mt-5">
  <p class="mb-0">&copy; 2025 Board Games Fellowship - Todos los derechos reservados.</p>
</footer>
